[Desktop Entry]
Type=Application
Name=uchoose
Name[en_US]=uchoose
GenericName=URL browser chooser
GenericName[en_US]=URL browser chooser
Comment=Select a browser to open a URL
Comment[en_US]=Select a browser to open a URL
Icon=applications-internet
Categories=Network;WebBrowser;
Exec=~/bin/uchoose %U
Terminal=false
